//////////////////////
// Flexslider Style
//////////////////////
.flexslider{
    border-radius: 0;
    margin: 0;
    border: 0;
    max-width: 100%;
    overflow: hidden;
    .flex-control-thumbs{
        li {
            width: calc(25% - 4.75px);
            img{
                padding: 2px;
                border: 1px solid map-get($colors, 8);
                border-radius: $radius-primary;
                margin-bottom: 6px;
                &.flex-active{
                    border-color:  map-get($colors, 3);
                }
            }
            &:not(:nth-child(4)){
                margin-right: 6px;
            }
        }
    }
}

.flex-direction-nav{
  a[class*="flex-"]:before{
    content: " ";
    height: 15px;
    width: 15px;
    border-right: 2px solid #7f7f7f;
    border-top: 2px solid #7f7f7f;
    margin: 10px;
  }
  a.flex-next:before{
    transform: rotate(45deg);
  }
  a.flex-prev:before{
    transform: rotate(225deg);
  }
}
