// Video modal background color fix
// #videoModalIframeWrapper {
//     background: black;
// }

/////////////////////////////
//  icon alignment fix
/////////////////////////////
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
}
.icon-position-fix{
    transform: translateY(0.1em);
}


/////////////////////////////
// And We hate IE too
/////////////////////////////
.ie{
    @include mq($from: wide) {
        .h-full{ height: 100vh; }
        .h-half{ height: 50vh; }
    }
    .background-holder{
        video{
            width: 100%;
            height: auto;
        }
    }
    
}
.edge{
    .background-holder{
        video{
            width: 100%;
            height: auto;
        }
    }
}

::selection{
    color: white;
    background-color: map-get($colors, primary);
}

////////////////////////////////////
// Modal Video Background color Fix
////////////////////////////////////
#videoModal .embed-responsive {
    background-color: black;
}


/////////////////////////////
// Zanimation
/////////////////////////////
.zopacity, *[data-zanim-trigger]{opacity: 0;}

/////////////////////////////
// Puppeteer
/////////////////////////////
.puppeteer{ *[data-zanim-trigger]{ opacity: 1 !important; } }

/////////////////////////////
// One Page Nav
/////////////////////////////
// .navs{
//     width: 100%;
//     &.fixed{
//         left: 0;
//         top: 0;
//     }
//     @include navigation-bar();
// }


////////////////////////////
// Dropdown (Semantic UI)
////////////////////////////
.ui.selection.dropdown{
    .dropdown{
        right: 30px;
        position: absolute;
    }
}
