ErrorDocument 404 /404.html

RewriteEngine On
Rewriterule ^page-([a-z]*)$ index.php?page=$1 [L]
Rewriterule ^page-([a-z]*)-([a-z]*)$ index.php?page=$1&action=$2 [L]
Rewriterule ^page-([a-z]*)-num-([0-9]*)$ index.php?page=$1&num=$2 [L]

Rewriterule ^page-([a-z]*)-([0-9]*)$ index.php?page=$1&id=$2 [L]
Rewriterule ^page-([a-z]*)-([a-z]*)-([0-9]*)$ index.php?page=$1&action=$2&id=$3 [L]
Rewriterule ^page-([a-z]*)-([0-9]*)-([a-z]*)$ index.php?page=$1&id=$2&action=$3 [L]
Rewriterule ^page-([a-z]*)-([0-9]*)-([0-9]*)$ index.php?page=$1&id=$2&inscrireactivite=$3 [L]
