@mixin pseudo{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	transform-origin: 50%;
	transition: transform 0.25s ease-in-out;
}
/*///////////////////////////////////
// Hover Animation
///////////////////////////////////*/
.btn{
	&[class*='hvr-']{
		position: relative;
		overflow: hidden;
		z-index: 0;
	}

	&[class*='hvr-']:after, &[class*='hvr-sweep-collapse']:before{ @include pseudo }

	&.hvr-sweep-left:after{ transform: translateX(-102%); }
	&.hvr-sweep-right:after{ transform: translateX(102%); }
	&.hvr-sweep-top:after{ transform: translateY(-102%); }
	&.hvr-sweep-bottom:after{ transform: translateY(102%); }

	@include hover-focus { &[class*='hvr-sweep-']:after{ transform: translateX(0) translateY(0); } }

	&.hvr-sweep-collapseY:before{ transform: translateY(-102%); }
	&.hvr-sweep-collapseY:after{ transform: translateY(102%); }
	@include hover-focus {
		&.hvr-sweep-collapseY{
			&:before{ transform: translateY(-49%); }
			&:after{ transform: translateY(49%); }
		}
	}

	&.hvr-sweep-collapseX:before{ transform: translateX(-102%); }
	&.hvr-sweep-collapseX:after{ transform: translateX(102%); }
	@include hover-focus {
		&.hvr-sweep-collapseX{
			&:before{ transform: translateX(-49%); }
			&:after{ transform: translateX(49%); }
		}
	}

	&.hvr-sweep-link:after{
		height: 2px;
		top: auto;
		transform: translateX(-102%);
		background-color: map-get($colors, primary);
	}
	@include hover-focus {
		&.hvr-sweep-link{
			box-shadow: none;
			&:after{ transform: translateX(0); }
		}
	}
}

[class*='btn-outline-'][class*='hvr-']{ @include hover-focus { background-color: transparent; } }

.btn-outline-dark[class*='hvr-']{ &:after, &:before{ background-color: map-get($colors, 1); } }
.btn-outline-primary[class*='hvr-']{ &:after, &:before{ background-color: map-get($colors, primary); } }
.btn-outline-info[class*='hvr-']{ &:after, &:before{ background-color: map-get($colors, info); } }
.btn-outline-success[class*='hvr-']{ &:after, &:before{ background-color: map-get($colors, success); } }
.btn-outline-warning[class*='hvr-']{ &:after, &:before{ background-color: map-get($colors, warning); } }
.btn-outline-danger[class*='hvr-']{ &:after, &:before{ background-color: map-get($colors, danger); } }
.btn-outline-dark[class*='hvr-']{ &:after, &:before{ background-color: map-get($colors, dark); } }
.btn-outline-white[class*='hvr-']{ &:after, &:before{ background-color: map-get($colors, white); } }
.btn-outline-twitter[class*='hvr-']{ &:after, &:before{ background-color: map-get($colors, twitter); } }

.hvr-underline-none:hover{ text-decoration: none; }
